body {
	margin: 0;
	font-family: 'Tahoma', sans-serif;
	color: #000;
}
img {
	max-width: 100%
}
button:focus {
	outline: none;
	}
.header {
	padding-top: 77px;
	padding-bottom: 97px;
}
.header-text__title {
	margin-bottom: 15px;
	font-size: 48px;
	font-weight: 700;
}
.header-text__subtitle {
 margin-bottom: 35px;
	font-size: 30px;
	font-weight: 400;
}
.header-text__descr {
	margin-bottom: 47px;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}
.header-text__price {
	margin-bottom: 53px;
	font-size: 48px;
	font-weight: 400;
	color: #333333;
}
.button {
	margin-bottom: 20px;
 margin-right: 40px;
	border:2px solid transparent;
	border-radius: 5px;
	background-color: #ff6633;
	padding: 22px 43px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}
.button-o {
	white-space: nowrap;
 background-color: transparent;
	border: 2px solid #ff6633;
	color: #ff6633;
}
.features {
	background-color: #f2f2f2;
	padding-bottom: 100px;
	padding-top: 89px;
	text-align: center;
}
.section-title {
padding-bottom: 91px;
font-size: 30px;
font-weight: 700;
}
.features__img {
	min-height: 55px;
}
.features__text {
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 400;
}
.customers {
	padding-top: 90px;
	padding-bottom: 110px;
	text-align: center;
}
.customers-title {
	padding-bottom: 70px;
	font-size: 30px;
font-weight: 700;
}
.col-12, .col-sm-6, .col-lg-3 {
	padding-bottom: 42px;

}